<% if signed_in? %>
	<table class="front" summary = "for signed in">
		<tr>
			<td class= "main">
				<h1 class= "brief">What's new with your Residents?</h1>
				<%= render 'shared/brief_form'%>
				<%= render 'shared/feed' %>
			</td>	
			<td class="sidebar round">
				<%= render 'shared/user_info'%>
				<%= render 'shared/stats'%>
			</td>	
		</tr>	
	</table>
<% else %>

<h1>Sample App</h1>
<p>Here is the Homepage</p>

<%= link_to "Sign Up", signup_path, :class => "signup_button round"%>


<% end %>